$popover-cls: 'visoning-popover';

$theme-name-dark: 'dark';

$placement-mark: 'data-placement';

// Common
$--vpopover-content-padding: 12px 24px;

// Light
$--vpopover-font-color: #162d3d;
$--vpopover-bg-color: #ffffff;
$--vpopover-box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vpopover-arrow-box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);

// Dark
$--vpopover-font-color-dark: #ffffff;
$--vpopover-bg-color-dark: #162d3d;
$--vpopover-box-shadow-dark: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vpopover-arrow-box-shadow-dark: 3px 3px 6px rgb(0 0 0 / 10%);

$popover-variables: (
  content-padding: (
    var: '--vpopover-content-padding',
    prop: 'padding',
    light: $--vpopover-content-padding,
    dark: $--vpopover-content-padding
  ),
  font-color: (
    var: '--vpopover-font-color',
    prop: 'color',
    light: $--vpopover-font-color,
    dark: $--vpopover-font-color-dark
  ),
  bg-color: (
    var: '--vpopover-bg-color',
    prop: 'background-color',
    light: $--vpopover-bg-color,
    dark: $--vpopover-bg-color-dark
  ),
  box-shadow: (
    var: '--vpopover-box-shadow',
    prop: 'box-shadow',
    light: $--vpopover-box-shadow,
    dark: $--vpopover-box-shadow-dark
  ),
  arrow-box-shadow: (
    var: '--vpopover-arrow-box-shadow',
    prop: 'box-shadow',
    light: $--vpopover-arrow-box-shadow,
    dark: $--vpopover-arrow-box-shadow-dark
  )
) !default;
