@import '../../theme-utils';

$popover-cls: 'visoning-popover';

$theme-cls-dark: 'theme-dark';

// Common
$--vpopover-content-padding: 12px 24px;

// Light
$--vpopover-font-color: #162d3d;
$--vpopover-bg-color: #ffffff;
$--vpopover-box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06),
  0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vpopover-arrow-box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);

// Dark
$--vpopover-font-color-dark: #ffffff;
$--vpopover-bg-color-dark: #162d3d;
$--vpopover-box-shadow-dark: 0 6px 6px 0 rgba(22, 45, 61, 0.06),
  0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vpopover-arrow-box-shadow-dark: 3px 3px 6px rgb(0 0 0 / 10%);

$popover-variables: (
  content-padding:
    gen-variable(
      '--vpopover-content-padding',
      'padding',
      $--vpopover-content-padding,
      $--vpopover-content-padding
    ),
  font-color:
    gen-variable(
      '--vpopover-font-color',
      'color',
      $--vpopover-font-color,
      $--vpopover-font-color-dark
    ),
  bg-color:
    gen-variable(
      '--vpopover-bg-color',
      'background-color',
      $--vpopover-bg-color,
      $--vpopover-bg-color-dark
    ),
  box-shadow:
    gen-variable(
      '--vpopover-box-shadow',
      'box-shadow',
      $--vpopover-box-shadow,
      $--vpopover-box-shadow-dark
    ),
  arrow-box-shadow:
    gen-variable(
      '--vpopover-arrow-box-shadow',
      'box-shadow',
      $--vpopover-arrow-box-shadow,
      $--vpopover-arrow-box-shadow-dark
    )
) !default;
