$popoverCls: 'visoning-popover';

$theme-name-dark: 'dark';

$placement-mark: 'data-placement';

// Light
$--vp-font-color: #162d3d;
$--vp-bg-color: #ffffff;
$--vp-box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vp-arrow-box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);

// Dark
$--vp-font-color-dark: #ffffff;
$--vp-bg-color-dark: #162d3d;
$--vp-box-shadow-dark: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
$--vp-arrow-box-shadow-dark: 3px 3px 6px rgb(0 0 0 / 10%);

$popover-variables: (
  font-color: (
    var: '--vp-font-color',
    prop: 'color',
    light: $--vp-font-color,
    dark: $--vp-font-color-dark
  ),
  bg-color: (
    var: '--vp-bg-color',
    prop: 'background-color',
    light: $--vp-bg-color,
    dark: $--vp-bg-color-dark
  ),
  box-shadow: (
    var: '--vp-box-shadow',
    prop: 'box-shadow',
    light: $--vp-box-shadow,
    dark: $--vp-box-shadow-dark
  ),
  arrow-box-shadow: (
    var: '--vp-arrow-box-shadow',
    prop: 'box-shadow',
    light: $--vp-arrow-box-shadow,
    dark: $--vp-arrow-box-shadow-dark
  )
) !default;
