@use 'sass:map' as map;

@import 'config';
@import 'mixins';

// CSS Variables

// --vpopover-font-color
// --vpopover-bg-color
// --vpopover-box-shadow
// --vpopover-arrow-top
// --vpopover-arrow-left
// --vpopover-arrow-box-shadow

//
// Popover
//

@include popover() {
  @include popover-css-var-declare(map.keys($popover-variables)...);

  position: relative;
}

@include popover-dark() {
  @include popover-css-var-declare-dark(map.keys($popover-variables)...);
}

//
// Content
//

@include popover-theme-style(content, (content-padding, font-color, bg-color, box-shadow)) {
  font-size: 14px;
  line-height: 18px;
  border-radius: 8px;
  box-sizing: border-box;
}

//
// Title
//

@include popover-theme-style(title, (font-color)) {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

//
// Arrow
//

@include popover-theme-style(arrow, (arrow-box-shadow)) {
  position: absolute;
  width: 8px;
  height: 8px;
  border-style: solid;
  box-sizing: border-box;
  transform: rotateZ(45deg);
}

@include arrow-in-popover-placement() {
  margin: 0;
  border-width: 4px;
  border-color: transparent get-popover-css-var-value(bg-color) get-popover-css-var-value(bg-color)
    transparent;
}

@include popover-dark() {
  @include popover(arrow) {
    border-color: transparent get-popover-css-var-value-dark(bg-color)
      get-popover-css-var-value-dark(bg-color) transparent;
  }
}

//
// Placement & Arrow
//

@include popover-with-placement(top) {
  padding-bottom: 6px;
}

@include arrow-in-popover-placement(top) {
  transform: rotateZ(45deg);
  bottom: 2px;
}

@include popover-with-placement(right) {
  padding-left: 6px;
}

@include arrow-in-popover-placement(right) {
  transform: rotateZ(135deg);
  left: 2px;
}

@include popover-with-placement(bottom) {
  padding-top: 6px;
}

@include arrow-in-popover-placement(bottom) {
  transform: rotateZ(-135deg);
  top: 2px;
}

@include popover-with-placement(left) {
  padding-right: 6px;
}

@include arrow-in-popover-placement(left) {
  transform: rotateZ(-45deg);
  right: 2px;
}

//
// Transition
//

@include popover(enter, enter-from, leave-to) {
  opacity: 0;
  transform: scale(0.9);
}

@include popover(enter-active) {
  transition: opacity 150ms cubic-bezier(0, 0, 0.2, 1), transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

@include popover(leave-active) {
  transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1), transform 100ms cubic-bezier(0.4, 0, 1, 1);
}
